body {
  background: #112;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.canvas {
  background: #fff;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 50;
}

.item {
  background: #f00;
  outline: solid #000 1px;
}
